/* Apply styles for the navbar */
.navbar {
    background-color: #f2ecec; /* Light blood red */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between; /* Space between brand and nav items */
    align-items: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(108, 104, 104, 0.954); /* Subtle shadow */
    /* position: fixed;  */
    width: 100%; /* Full width */
    top: 0; 
    z-index: 999; /* Lower than sidebar */
    
  }

  .navbar-brand {
    display: flex; /* Arrange items in a row */
    align-items: center; /* Vertically align logo and text */
    gap: 10px; /* Space between the logo and text */
  }
  
  .navbar-brand img {
    height: 50px; /* Adjust the height of the logo */
    width: auto; /* Maintain aspect ratio */
  }
  
  .navbar-brand p {
    margin: 0; /* Remove default margin */
    font-size: 1.2rem; /* Adjust text size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Text color */
    
  }
  
  
  /* Style for the navigation list */
  .navbar-nav {
    display: flex; /* Use flexbox for horizontal alignment */
    flex-direction: row;
    align-items: center; /* Align items vertically */
    /* justify-content: center; */
    /* width: 500px; */
    gap: 40px; /* Add space between items */
    list-style: none; /* Remove default list styling */
    margin: 10;
    padding: 0;
    
  }
  
  Style for each navigation item
  .nav-item {
    display: inline-block;
    align-items: center;
  }
  
  /* Style for the "Welcome" text */
  .nav-link {
    font-size: 1.1rem;
    color: rgb(16, 15, 15);
    margin: 0;
    font: 600;
    cursor: pointer;
  }
  
  /* Style for the Logout button */
  .btn-danger {
    background-color: rgb(222, 25, 25);
    color: #e7dfdf;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .btn-danger:hover {
    background-color: #f00e0e;
    color: white;
    cursor: pointer;
  }
  