.register-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.register-image {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 65%; /* 50% width for the image on the left */
  background-image: url('../../Assets/banner5.jpg');
  background-size: cover;
  background-position: cover;
}

.register-form-container {
  margin-left: 65%; /* Offset the form section to start after the image */
  width: 50%; /* 50% width for the form on the right */
  overflow-y: auto; /* Enable vertical scrolling within the form section */
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9); /* Optional background overlay */
}

.register-form {
  max-width: 400px;
  margin: 0 auto;
}
